@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Hind+Madurai:wght@300;400&display=swap");
* {
  font-family: 'Varela Round', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 5000px;
}

#container_big-img {
  width: 100vw;
  height: 200vh;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

#side-bar {
  width: 15rem;
  height: 100vh;
  background: white;
  margin-left: 0rem;
  z-index: 50;
  position: absolute;
  left: -15rem;
  top: 100px;
}

#sidebar.active {
  left: 0;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: rgba(133, 133, 133, 0);
}

body::-webkit-scrollbar-thumb {
  background: #b47e8f;
  border-radius: 30px;
}

#navbar {
  width: 100%;
  height: 150px;
  margin-top: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
  position: fixed;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.bg-pink {
  background: pink !important;
}

a {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 15px;
  letter-spacing: 0.3rem;
  color: black;
  text-decoration: none;
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 250px;
  background-color: white;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.links {
  margin: 120px 0 0 40px;
}

.nav__link {
  margin-top: 40px;
  letter-spacing: 0.2rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.nav__open .nav__links {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 0 0 15px rgba(117, 73, 73, 0.527);
          box-shadow: 0 0 15px rgba(117, 73, 73, 0.527);
}

.all__links {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  background-color: white;
  z-index: 2;
  height: 100vh;
  width: 250px;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.nav__open .all__links {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#projects-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: white;
  outline: none;
}

#projects-cont:hover {
  background: white;
  border: none;
  background: none;
}

.dashes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.dashes-cont {
  width: 40px;
  height: 20px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#projects-cont:hover .dashes {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#projects-cont:hover .dashes .dashe1 {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.dash {
  width: 20px;
  height: 2px;
  background-color: black;
  margin-top: 4px;
}

.accross-line {
  width: 195px;
  height: 1px;
  background-color: black;
  right: 197px;
  top: 49%;
  position: absolute;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#cross {
  position: relative;
}

.block-name:hover .accross-line {
  right: 0px;
}

.block-name {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-search1 {
  padding-top: 20px;
  padding-bottom: 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  overflow: hidden;
  opacity: 1;
}

.search:hover .fa-search1 {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0.2;
}

.fa-search2 {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  opacity: 0.2;
}

.search:hover .fa-search2 {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  opacity: 1;
}

.search-container {
  height: 60px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#all-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: white;
  outline: none;
}

.title-name, .scroll {
  position: absolute;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 50px;
  letter-spacing: 1.5rem;
  color: white;
}

.scroll {
  margin-top: 560px;
  font-size: 20px;
  letter-spacing: 0.3rem;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-image {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-image: url(public/img/flowers.jpg);
}

.bar-animated {
  height: 3px;
  width: 100%;
  background-color: white;
  -webkit-animation: left-to-right 2s ease-in forwards infinite;
          animation: left-to-right 2s ease-in forwards infinite;
}

@-webkit-keyframes left-to-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes left-to-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.item {
  width: 33.3vw;
  height: 300px;
  background-color: cyan;
  border: 20px black;
  overflow: hidden;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

img {
  width: 110%;
  height: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.item:hover .card-text {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.overlay {
  position: absolute;
  background-color: rgba(117, 73, 73, 0.527);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  color: white;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin-top: 10px;
}

.description {
  margin-top: 10px;
}

.item:hover .overlay {
  opacity: 1;
}

.item:hover .image {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

#galerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 106vw;
  background-color: white;
  padding-top: 23vh;
  -webkit-transition: paddingTop ease 1s;
  transition: paddingTop ease 1s;
}

footer {
  width: 100%;
  height: 100px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  letter-spacing: 0.2rem;
}
/*# sourceMappingURL=main.css.map */